@model Zombiecalypse.Models.AdventureViewModel


<h2>Adventure counter</h2>



<div>
    @*<dl class="dl-horizontal">

            <img style="align-content: center" width="200" height="350" class="image" />
        
        <div id="counter"></div>
    </dl>*@
</div>