@model Zombiecalypse.Models.AdventureDropVM

@{
    ViewBag.Title = "AdventureDropCalculator";
}

<h2>AdventureDropCalculator</h2>

<div>
    <h4>AdventureDrop</h4>
    <hr />
    <dl class="dl-horizontal">

        Rewards:

        <dd>
            <table class="table">
                <tr>
                    @*<th>InventoryID</th>
                        <th>ItemID</th>
                        <th>ItemName</th>
                        <th>ItemPieces</th>*@
                </tr>
                @foreach (var reward in Model.Rewards)
                {
                    foreach (var item in Model.ItemList)
                    {
                        if (item.ItemID == reward.ItemID)
                        {
                            <tr>
                                <td>
                                    @reward.ItemPieces x <img src=@item.ItemPicture />
                                </td>
                                <td>
                                    @item.ItemName
                                </td>

                            </tr>
                        }

                    }
                }

            </table>
        </dd>
    </dl>
</div>
