@model Zombiecalypse.Models.AdventureDropVM

@{
    ViewBag.Title = "Collect reward";
}

<h2>Collect reward</h2>

<div>

    <h4>Collect reward</h4>

        Rewards:
        <br />
        <div align="center">
            <img src="~/Content/Pictures/Adventures/lada2.png" />
        </div>

        <table align="center">
            <tr>
                <td>
                    @foreach (var reward in Model.Rewards)
                    {
                        foreach (var item in Model.ItemList)
                        {
                            if (item.ItemID == reward.ItemID)
                            {
                                <table align="center" border="1">
                                    <tr>
                                        <td>
                                            <img src=@item.ItemPicture />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @item.ItemName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @reward.ItemPieces x
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    }
                </td>
            </tr>
            <tr>
                <td> XP reward: @Model.AdventureXPReward</td>
            </tr>
        </table>

        <div>
            @Html.ActionLink("Back to base", "Details", "Characters", new { id = User.Identity.Name }, new { @class = "ActionLinkButton" })
        </div>
</div>
