@model Zombiecalypse.Models.MissionVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


MissionTaskID: @Model.MissionTask.ItemName <br />
MissionTaskNumber: @Model.MissionTaskNumber <br />

MissionRewardID: @Model.MissionReward.ItemName <br />
MissionRewardNumber: @Model.MissionRewardNumber <br />

