<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Not enought materials</h2>
        @Html.ActionLink("Back to character page", "CharacterDetails", "Characters", new { id = User.Identity.Name }, null)
    </hgroup>
</body>
</html>
