@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    Welcome @HttpContext.Current.User.Identity.Name <br>

    @if (Session["CharacterID"] != null)
    {
        var CharacterID = Session["CharacterID"];
        var UserEmail = Session["UserEmail"];
        var UserName = Session["UserName"];
        var CharacterName = Session["CharacterName"];
        <div>

            CharacterID: @CharacterID
            UserEmail: @UserEmail
            UserName: @UserName
            CharacterName: @CharacterName
        </div>
    
    }

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "RegistrationViewModels", FormMethod.Post, new { id = "logoutForm" }))
        {
            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    }