h1.FoodCounter {
    background-image: url("/Content/Pictures/button3.png");
    background-size:cover;
    text-align:left;
    position: absolute;
    top: 500px;
    left:1300px;
    text-indent: 50px;
    color:white;
    background-repeat: no-repeat;
    background-position:left;
    text-shadow: -3px 3px black;
    padding-right: 100px;
    padding-top:10px;
    padding-bottom:10px;

}
body {
    text-transform: uppercase;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: auto;
    text-align:center;
}

.tab-content {
    /*background-color:blueviolet;*/
/*background-image:url("/Content/Pictures/paper2.png");*/
  background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}

div.container > .rating-num {
    text-align: center;
    font-weight: bold;
}


div.container.body-content {
    background-image: url("/Content/Pictures/paper3.png");
    background-repeat: no-repeat;
    /*background-size: cover;*/
/*  background-origin: padding-box;
    /*background-color: darksalmon;*/
}

div.container > .tab-content {
    /*background-image: url("/Content/Pictures/paper2.png");*/
    /*background-repeat: no-repeat;
    background-size: cover;*/
    /*background-origin: border-box;*/
    /*background-color: azure;*/
}

.nav-tabs > li > a {
    background-color: black;
    color:black;
    background-image: url("/Content/Pictures/paper4.png");
}

a.ActionLinkButton:link, a.ActionLinkButton:visited, a.ActionLinkButton:active {
    background-image: url("/Content/Pictures/button2.png");
    display: inline-block;
    border: 1px solid;
    padding: 3px;
    text-decoration: none;
    border-radius: 4px;
    color: floralwhite;
    border-color: bisque;
}

a.ActionLinkButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
  .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
.tab button:hover {
            background-color: #ddd;
        }

/* Create an active/current tablink class */
.tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
